{% extends "base.html" %}
{% block content %}
{% if contxt.message %}
<h3>{{ message }}</h3>
{% endif %}
<h1>To-Do List</h1>
<ol>
{% for r in results %}
<li>{{ r.description }}   <a class="check" href="/todo/done/{{ r.id }}"><span>&#9744</span></a></li>

{% endfor %}
</ol>
<a href="/todos/add">Add a new task</a>
<script>
$(function(){
  var prev;    

  $('.check').hover(function(){
  var prev = $(this).text();
  $(this).text("&#9745");
  }, function(){
      $(this).text(prev)
  });
})</script>
{% endblock %}
